<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectroShop</title>
    <link rel="stylesheet" href="../CSS/principal.css">
</head>

<body onload="cargarProductos()">
    <div id="navbar-container">
        <script>
            fetch('/navbar/navbar.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar-container').innerHTML = data;
                    const menuButton = document.getElementById('menu-button');
                    const submenu = document.getElementById('submenu');

                    if (menuButton && submenu) {
                        menuButton.addEventListener('click', function (event) {
                            event.stopPropagation();
                            if (submenu.style.display === 'none' || submenu.style.display === '') {
                                submenu.style.display = 'block';
                            } else {
                                submenu.style.display = 'none';
                            }
                        });

                        document.addEventListener('click', function (event) {
                            if (!menuButton.contains(event.target) && !submenu.contains(event.target)) {
                                submenu.style.display = 'none';
                            }
                        });
                    }
                    const navbarLogo = document.querySelector('.navbar-logo');
                    if (navbarLogo) {
                        navbarLogo.addEventListener('click', () => {
                            window.location.href = '/principal';
                        });
                    }

                })
                .catch(error => console.error('Error al cargar el navbar:', error));
        </script>
    </div>

    <div class="botonesprincipales">
        <button class="btn" id="destacados">Destacados</button>
        <button class="btn" id="favoritos">Favoritos</button>
        <button onclick="cargarCategorias()" class="btn" id="categorias">Categorias</button>
    </div>

    <div id="productos-lista" class="producto-lista">
    </div>

    <div id="productos-favoritos" class="producto-lista">
    </div>

    <div id="productos-categorias" class="producto-categorias">
    </div>

</body>

<script>

    function cargarProductos() {
        const urlParams = new URLSearchParams(window.location.search);
        const categoryIdFromURL = urlParams.get('categoryId');
        const categoryNameFromURL = urlParams.get('categoryName');

        if (categoryIdFromURL && categoryNameFromURL) {
            cargarProductosPorCategoria(categoryIdFromURL, categoryNameFromURL);
        } else {
            fetch('/api/products')
                .then(response => response.json())
                .then(data => {
                    const productosLista = document.getElementById('productos-lista');
                    productosLista.innerHTML = '';

                    if (data.success && Array.isArray(data.products)) {
                        data.products.forEach(producto => {
                            const divTarjeta = document.createElement('div');
                            divTarjeta.classList.add('tarjeta');
                            divTarjeta.innerHTML = `
                                <div class="product">
                                    <div class="imagen">
                                        <img src="/uploads/${producto.image1}" width="100%" height="100%">
                                    </div>
                                    <div class="nombre">${producto.name}</div>
                                    <div class="estrellas">${mostrarCalificacion(producto.rating)} <span class="cali">&nbsp;&nbsp;${producto.rating}</span></div>
                                    <div class="precio">
                                        <span>Precio:&nbsp;</span><span>${producto.price}</span><span>&nbsp;Bs.</span>
                                    </div>
                                    <div class="descuento">
                                        <span>Descuento:&nbsp;</span><span>${producto.discount}</span><span>&nbsp;%</span>
                                    </div>
                                    <div class="visualizar">
                                        <button class="btnn">Visualizar</button>
                                    </div>
                                </div>
                            `;
                            productosLista.appendChild(divTarjeta);
                        });
                    }
                })
                .catch(error => console.error('Error al cargar los productos:', error));
        }
    }

    window.addEventListener('load', () => {
        cargarContenidoSegunURL();
    });

    window.addEventListener('popstate', () => {
        cargarContenidoSegunURL();
    });

    function cargarContenidoSegunURL() {
        const params = new URLSearchParams(window.location.search);
        const categoria = params.get('categoria');
        const categoryId = params.get('categoryId');
        const categoryName = params.get('categoryName');

        if (categoria === 'true') {
            cargarCategorias();
        } else if (categoryId && categoryName) {
            cargarProductosPorCategoria(categoryId, categoryName);
        } else {
            cargarProductos();
        }
    }

    function cargarCategorias() {
        const newUrl = `${window.location.pathname}?categoria=true`;
        history.pushState(null, '', newUrl);

        fetch('/api/categories')
            .then(response => response.json())
            .then(data => {
                const productosCategorias = document.getElementById('productos-categorias');
                productosCategorias.innerHTML = '';

                if (data && Array.isArray(data)) {
                    data.forEach(categoria => {
                        const divCategoria = document.createElement('div');
                        divCategoria.classList.add('tarjeta');
                        divCategoria.innerHTML = `
                        <div class="categoria">
                            <div class="imag">
                                <img src="/uploads/1727457499094-Auriculares Bluetooth Sony WF-1000XM4_Color White.png" width="100%" height="100%">
                            </div>
                        </div>
                        <div class="nombr">${categoria.name}</div>
                    `;

                        divCategoria.addEventListener('click', () => {
                            cargarProductosPorCategoria(categoria.id, categoria.name);
                        });

                        productosCategorias.appendChild(divCategoria);
                    });
                } else {
                    console.error('No se encontraron categorías o la respuesta es inválida.');
                }
            })
            .catch(error => console.error('Error al cargar las categorías:', error));

        document.getElementById('productos-lista').style.display = 'none';
        document.getElementById('productos-favoritos').style.display = 'none';
        document.getElementById('productos-categorias').style.display = 'grid';
    }

    function cargarProductosPorCategoria(categoryId, categoryName) {
        const newUrl = `${window.location.pathname}?categoryId=${categoryId}&categoryName=${encodeURIComponent(categoryName)}`;
        history.pushState(null, '', newUrl);

        fetch(`/api/products/categories/${categoryId}`)
            .then(response => response.json())
            .then(data => {
                const productosLista = document.getElementById('productos-lista');
                productosLista.innerHTML = '';

                if (data.success && Array.isArray(data.products)) {
                    data.products.forEach(producto => {
                        const divTarjeta = document.createElement('div');
                        divTarjeta.classList.add('tarjeta');
                        divTarjeta.innerHTML = `
                        <div class="product">
                            <div class="imagen">
                                <img src="/uploads/${producto.image1}" width="100%" height="100%">
                            </div>
                            <div class="nombre">${producto.name}</div>
                            <div class="estrellas">${mostrarCalificacion(producto.rating)} <span class="cali">&nbsp;&nbsp;${producto.rating}</span></div>
                            <div class="precio">
                                <span>Precio:&nbsp;</span><span>${producto.price}</span><span>&nbsp;Bs.</span>
                            </div>
                            <div class="descuento">
                                <span>Descuento:&nbsp;</span><span>${producto.discount}</span><span>&nbsp;%</span>
                            </div>
                            <div class="visualizar">
                                <button class="btnn">Visualizar</button>
                            </div>
                        </div>
                    `;
                        productosLista.appendChild(divTarjeta);
                    });
                } else {
                    productosLista.innerHTML = `
                    <div class="error">
                        No hay productos disponibles en la categoría "${categoryName}".
                    </div>`;
                }

                document.getElementById('productos-categorias').style.display = 'none';
                document.getElementById('productos-lista').style.display = 'grid';
            })
            .catch(error => console.error('Error al cargar los productos de la categoría:', error));
    }
    function mostrarCalificacion(rating) {
        const estrellasCompletas = Math.floor(rating);
        const estrellasVacías = 5 - Math.ceil(rating);
        const estrellasParciales = rating % 1;
        let estrellasHTML = '';
        estrellasHTML += '★'.repeat(estrellasCompletas);
        if (estrellasParciales > 0) {
            estrellasHTML += '★';
        }
        estrellasHTML += '☆'.repeat(estrellasVacías);
        return estrellasHTML;
    }
</script>
</html>